.contato {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
}

.contato__texto {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.contato__titulo {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--blue-gradient);
    margin-bottom: 1.4rem;
}

.contato__paragrafo {
    font-weight: 300;
    color: var(--blue-gradient);
    margin-bottom: 2.4rem;
}

.contato__input-email {
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 2.4rem;
    padding: 1rem;
    width: 100%;
}

.contato__input-email::placeholder {
    padding-left: 4rem;
    color: var(--blue);
    background: url("../source/icons/Email.svg") no-repeat;
    background-position: 1rem;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 3rem;
        padding: 3rem 15rem;
    }

    .contato__titulo {
        font-size: 2.4rem;
        word-wrap: break-word;
    }


}