.carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}

.carrossel__titulo {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: var(--orange);
    padding: 2rem 0 0.8rem 0;
    background-color: var(--white);
    width: 100vw;
}

.swiper-pagination {
    position: initial;
    padding: 1.2rem 0 1.6rem 0;
}

.swiper-pagination-bullet-active {
    background: var(--blue-gradient);
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 20rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
}




@media screen and (min-width: 1024px) {
    .swiper-button-next, .swiper-button-prev {
        display: flex;
        background: var(--blue-gradient);
        --swiper-navigation-size: 17px;
        --swiper-navigation-top-offset: 50%;
        --swiper-navigation-sides-offset: 20px;
        --swiper-navigation-color: var(--white);
        padding: 2.5rem;
        border-radius: 4rem;
    }

    .swiper {
        width: 100%;
    }

    
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 30rem;
    }
  
    .swiper-slide img {
        display: block;
        width: 100%;
    }

    .carrossel__titulo {
        font-size: 2.6rem;
        padding: 5rem 0 2rem 0;
    }

    .swiper-pagination {
        position: initial;
        padding: 3rem 0 3rem 0;
    }
}